/* Colors!
--------*/
:root{
  --background: white;
  --main-text: black ;
  --secondary-text: slategray; /*e.g. for showing the authors names */
  --infobox-background: black;
  --infobox-text: papayawhip;
  --infobox-border: gray;
  --infobox-button: gray;
  --copybox-background: lightcyan;
  --copybox-text: midnightblue;
}

/* Fonts!
---------
Changing the font here is reflected throughout site. 
------- */

:root{
  --main-font: arial;
  --secondary-font: mononoki; /* This is used for the info box */
}

/* Fonts Available:!
--------------------

These are Web Safe Fonts that seemed to work on the browser:

  Serif: 
   Times New Roman
   Georgia
   cochin

  Sans Serif:
    arial
    arial black
    comic sans ms
    impact
    trebuchet ms

  Monospace:
    courier new
    monospace

  Custom (added by me, Zach!):
    mononoki  (my fave)

-----------------------
*/

/* This is Code added to get custom fonts working.  
   Add yr own here if you wanna use a custom font
--------------------------------------------------


@font-face {
    font-family: 'mononoki';
    src: url('/styles/fonts/mononoki/mononoki-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/mononoki/mononoki-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/mononoki/mononoki-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/mononoki/mononoki-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mononoki';
    src: url('fonts/mononoki/mononoki-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/mononoki/mononoki-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/mononoki/mononoki-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/mononoki/mononoki-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'mononoki';
    src: url('fonts/mononoki/mononoki-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/mononoki/mononoki-Italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/mononoki/mononoki-Italic.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/mononoki/mononoki-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'mononoki';
    src: url('fonts/mononoki/mononoki-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/mononoki/mononoki-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/mononoki/mononoki-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/mononoki/mononoki-BoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: italic;
}
