/*
 * Want to change this website's styes? Learn more about CSS:
 * https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS
 */

body {
  background: var(--background);
  color: var(--main-text);
  box-sizing: border-box;
  font-family: var(--main-font);
}

#comic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#title {
  font-size: 2em;
  margin-bottom: 0;
}

.authors{
  color: var(--secondary-text);
  margin-top: 0;
  font-size: 1.3em;
}

#cover{
  cursor: pointer;
}

.cover{
  width: 100%;
}

.page{
  padding: 0.5em;
  width: 100%;
}

.back{
  width: 100%;
  padding: 0.5em;
}

#info-box{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
}


#info{
  padding: 1em;
  border: 3px ridge var(--infobox-border);
  background-color: var(--infobox-background);
  color: var(--infobox-text);
  width: 50%;
  white-space: pre-wrap;
}

#copy-box{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--copybox-background);
  color: var(--copybox-text);
  height: 2em;
}

#copy-box button{
  margin: 0.5em;
}

/* Animation stuff!
/*Pages start as invisible until cover is clicked.  */
.invisible{
  display: none !important;
}

.visible {
  animation: 3s fade-in;
}
@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.slide-left{
  animation: slideleft ease-in 1.25s forwards;
}

@keyframes slideleft {;
  from { margin-left: 0px; opacity: 1;}
  to { margin-left: -200%; height: 0; opacity: 0;}   

}

